extends ../shared/layout.pug

block content
    div.content
      center
        div.salutation 
          p Greetings Administrator,
        div.content-item 
          p #{content}
          P on the behalf of: #{fullname}
          P #{created}
        div.content-item(class='validiction')
          p sent from Tyler-CMT Website

