extends ../shared/layout.pug

block content
    div.content
      center
        div.salutation 
          p Greetings Administrator,
        div.content-item 
          p #{body}
        div.content-item(class='validiction')
          p sent from Tyler-CMT Website
          P on the behalf of,
          P #{Fullname}