extends ../shared/layout.pug

block content
    div.content
      center
        div.salutation 
          p Greetings Administrator,
        div.content-item 
          p #{content}
          p sent from Tyler-CMT Website
          P on the behalf of,
          P #{fullname}
          P #{created}
        div.content-item(class='validiction')
           p Tyler CMT
