doctype html
html
    head

        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="x-apple-disable-message-reformatting")
        link(rel="stylesheet", href="https://tyler.mailer.kulfi.io/css/style.css", data-inline)
    body
        div.primary 
            div.header
                center
                    div.head-container
                    div.company Tyler Chamberlain, CMT
                    div.objective Massage that integrates, soothes and heals
                    block title
            block content
            div.footer
                center
                    div.foot-container
                        div.company-info Tyler Chamberlain, CMT, 999 Hyde Street, San Francisco, CA
                        div.contact
                            span.need-help Need help?
                            span Contact us at tylerccmt.gmail.com or 415.555.1212
