html, body {
    background: white;
    margin: auto;
    display: block;
    font-family: Montserrat, sans-serif;
    line-height: 1.5;
}

.primary {
    margin: auto;
    display: block;
    min-width: 80%;
}
.header {
    color: #a9a9a9;
    margin: auto;
    display: block;
    padding: 2;

}

.header .head-container {
    color: black;
    padding: 1%;
}

.header .company {
    font-size: 28px;
    width: 100vw;
}

.header .objective {
    padding-top: 1%;
    font-size: 14px;
    width: 100vw;
}

.header .title {
    padding-top: 20px;
    font-size: 15px;
    width: 100vw;
}

.content {
    margin: auto;
    display: block;
    color: #515769;
    line-height: 2;
    max-width: 90vw;
}

.content .salutation {
    font-size:  13px;
    text-align: left;
}

.content .content-item {
    font-size:  13px;
    line-height: 1.4;
    text-align: left;

}

.content .validiction {
    font-weight: bold;
    font-size: 16px;
}

.content .content-item .btn{
    border-radius: 0;
    color: #a9a9a9;
    min-height: 5vh;
    font-size: 16px;
    border: none;
    min-width: 15vw;
    cursor: pointer;
    
}

.content .content-item .btn:hover{
    background: #dddddd;
}

.footer {
    margin: auto;
    display: block;
    line-height: 1.5;
    position: fixed;
    left: 0;
    bottom: 0;
}

.footer .foot-container {
    margin: auto;
    display: block;
    color: #a9a9a9;
}

.footer .company-info {
    font-size: 12px;
    width: 100vw;
}

.footer .contact {
    font-size: 1px;
    font-size: 11px;
    padding-top: 1%;
    width:100vw;
}

.footer .need-help {
    font-size: 11px;
    padding-top: 1%;
    padding-right: 2px;
    font-weight: bold;
}



