| Dear #{name},
| You have selected #{email} as your new identifier. To verify this email address belongs to you, click the link below and then sign in using your identifier and password.
|
| Why you received this email?
| We require verification whenever an email address is selected as an identifier. Your identifier cannot be used to access our site until you verify it.
| If you didn't make these changes or you believe an unauthorized person has accessed your account, you should change your password as soon as possible from your Tyler CMT account page at https://tyler.kulfi.io.
| Tyler CMT support